# Banco
DB_HOST=mysql
DB_PORT=3306
DB_NAME=clientes
DB_USER=clientes_user
DB_PASS=clientes_pass


MERCADOPAGO_ACCESS_TOKEN=TEST-7513763222088119-102723-066d60f2c69bc1f0a4f4d4163d2b448a-163051303
MERCADOPAGO_PUBLIC_KEY=TEST-5ae40bfd-d399-475d-914f-79a45924cf87
EMAIL_USER=erik.fernandes87@gmail.com
EMAIL_PASS="nanf erny zkzm vepg"

AWS_ACCESS_KEY_ID=AKIARZ5BM7TMYV5H4HPM
AWS_SECRET_ACCESS_KEY=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
AWS_REGION=us-east-1
COGNITO_USER_POOL_ID="us-east-1_mOXhcpgGn"
COGNITO_CLIENT_ID="3hfn7ecolkgbnn66ks21lde0kl"

# URL base (para Swagger)
API_BASE_URL=http://localhost:4000

# Ambiente local
NODE_ENV=local
